p {
  font-size: 16px;
}
a {
  font-size: 15px;
  padding: 5px;
  text-decoration: none;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  justify-content: center;
}
ul li {
  cursor: pointer;
}
.navbar-custom {
  background: rgba(255, 255, 255, 0.7);
  padding: 5px 7%;
  filter: drop-shadow(0px 4px 4px rgba(255, 253, 253, 0.3));
}
.navbar-nav .nav-link {
  color: #000;
  font-weight: 600;
}
.navbar-nav .nav-item:not(:last-child) {
  margin-right: 2vw;
}
.navbar-nav .nav-link:hover {
  color: #091641;
}
.btn img,
.navbar-brand img {
  width: 1.5em;
  height: auto;
}
.navbar-toggler {
  border: none;
}


body {
  height: 100%;
  margin: 0;
  line-height: inherit;

  scrollbar-gutter: stable;
}
img {
  max-width: 80%;
  height: auto;
}
video {
  max-width: 100%;
  height: auto;
}

#brief-introduction {
  height: 100vh;
}
.align-center {
  align-items: center;
}
.text-center {
  text-align: center;
  justify-content: center;
}
.text-balance {
  text-wrap: balance;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
}
.radius-20px {
  border-radius: 20px;
}
.decoration-none {
  text-decoration: none;
}
.product-features {
  height: auto;
  margin: 2rem;
  opacity: 0;
  transform: translateY(150px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.product-features.reveal {
  opacity: 1;
  transform: translateY(0);
}
.w-h-full {
  width: 100%;
  height: 100%;
}
.gray-bg {
  background-color: #ebebeb;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.flex-inline {
  display: inline-flex;
  justify-content: center;
}
.price-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
@keyframes scaleUp {
  0% {
    transform: scale(0.5);

    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.scale-up-div {
  animation: scaleUp 0.8s ease-in-out;
}
